<h1>Receta de Lomo a la cacerola con papas al romero</h1>
<br>
<p>Riquîsima receta abundante en sabores que te transporta directamente a la calma del campo, ideal para una cena romantica o compartir con la familia o amigos</p>
<br>
<hr>
<h2>Lista de ingredientes</h2>
<br>
<ul>
    <li>lomo</li>
    <li>cebolla</li>
    <li>zanahorias</li>
    <li>caldo</li>
    <li>papas</li>
    <li>romero</li>
</ul>
<br>
<h2>Lista de pasos</h2>
<br>
<ol type="A">
    <li>En una cacerola colocar aceite y sellar, a fuego fuerte, el lomo de todos sus lados. Bajar el fuego y agregar 2 zanahorias cortadas en bocados y 2 cebollas cortada en octavos.</li>
    <li>Luego agregar caldo hasta la mitad, salpimentar. Y cocinar durante 2 hs a fuego bajo y con la cacerola tapada. Cuidar que el líquido no se evapore.</li>
    <li>Colocar asadera aceite y las papas espolvoreadas con romero y recortadas en forma de barquitos (cuña). Llevar a fuego bajo hasta que estén cocidas y doradas.</li>
    </ol>
<br>
<a href="https://cookpad.com/ar/recetas/3381553-lomo-a-la-cacerola-con-papas-al-romero">
    Leer receta en cookpad</a>
    <br>
<a href="receta2.html">
    Leer receta de Flan casero en microondas</a>
    <br>
<a href="../../index.html">
    volver al inicio</a>

