<h1>Receta de Flan casero en microondas</h1>
<br>
<p>Se te antojó un postre rico y rápido? Un rico flan casero y en el microondas puede ser una buena opción</p>
<br>
<hr>
<h2>Lista de ingredientes</h2>
<br>
<ul>
    <li>1 Huevo</li>
    <li>2 cucharadas azúcar</li>
    <li>100 cc leche</li>
</ul>
<br>
<h2>Lista de pasos</h2>
<br>
<ol>
    <li>Romper un huevo, incorporar las 2 cucharadas de azúcar y los 100 cc de leche, batir bien y listo</li>
    <li>Lo tiramos en una taza previamente bañada con caramelo y al microondas! 3 minutos</li>
    <li>Esperar que se enfríe, heladera 15, 20 minutos. Buen provecho</li>
</ol>
<br>
<a href="https://cookpad.com/ar/recetas/22579753-flan-casero-en-microondas-super-facil-y-rapido-con-pocos-ingredientes?ref=search&search_term=postres%20faciles%20y%20rapidos">Leer esta receta en Cookpad</a>
<br>
<a href="receta1.html">Leer receta de Lomo a la cacerola con papas al romero</a>
<br>
<a href="../../index.html">volver al inicio</a>